@font-face {
    font-family: 'Cupid Love';
    src: url('fonts/cute_love-webfont.woff2') format('woff2'),
         url('fonts/cute_love-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #e96443, #904e95);
    color: white;
    text-align: center;
    font-family: 'Cupid Love', Arial, sans-serif;
    flex-direction: column;
}
#background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
#background-video {
    width: 100%;
    height: 100%;
}
.container {
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    padding: 2vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    user-select: none;
    resize: both;
    overflow: auto;
    min-width: 250px;
    min-height: 200px;
    max-width: 700px;
    max-height: 700px;
}
.buttons, .mode-buttons {
    display: flex;
    gap: 1vw;
    justify-content: center;
    margin-top: 1.5vw;
}
button {
    background: #F48FB1;
    color: white;
    border: none;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #F06292;
}
.time-display {
    font-size: 6vw;
    font-weight: bold;
}
.mode-buttons button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    border-radius: 5px;
    cursor: pointer;
}
.mode-buttons button.active {
    background: #F48FB1;
}
.youtube-input {
    width: 50%;
    display: flex;
    gap: 1vw;
    justify-content: center;
    z-index: 10;
    position: absolute;
    bottom: 60px;
}
.youtube-input input {
    padding: 0.8vw;
    width: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2vw;
}